In [ ]:
############################################################# CH 2 #############################################################

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

In [ ]:
#2.24

In [ ]:
adult = pd.read_csv("/content/gdrive/My Drive/Python Practice/Datasets/adult_ch3_training")
adult[:3]

In [ ]:
#2.25

In [ ]:
#change data set name from 'adult_ch3_training' to 'adult'

In [ ]:
#2.26

In [ ]:
from sklearn.tree import DecisionTreeClassifier #import Decision Tree Classifier

In [ ]:
#2.27

In [ ]:
table01 = pd.crosstab(adult['workclass'], adult['sex'])
table01

In [ ]:
#2.28

In [ ]:
table02 = pd.crosstab(adult['marital-status'], adult['sex'])
table02

In [ ]:
#2.29

In [ ]:
adult[['sex','marital-status']].loc[0]

In [ ]:
adult_first = adult.loc[0]
adult_first = adult_first[['sex','marital-status']]
adult_first

In [ ]:
#Answer : Above person belong to Male and Self-emp-not-inc cell. This cell has 992 people including him.

In [ ]:
#2.30

In [ ]:
adult[6:11]

In [ ]:
adult_sixToTen = adult[6:11]
adult_sixToTen = adult_sixToTen[['sex','marital-status']]
adult_sixToTen

In [ ]:
# Answer : The row 6 - 8, 10 belong to Male and Married-civ-spouse cell, which includes 6010 people.
#          The row 9 belong to Male and Divorced cell, which shows 795.

In [ ]:
#2.31

In [ ]:
adultMarried = adult[(adult['marital-status'] == 'Married-civ-spouse')]
adultMarried[:5]

In [ ]:
#2.32

In [ ]:
pd.crosstab(adultMarried['workclass'], adultMarried['sex'])

In [ ]:
table01

In [ ]:
# The number of female decrease more than male.

In [ ]:
#2.33

In [ ]:
adultOver40 = adult[(adult['age'] > 40)]
adultOver40[:5]

In [ ]:
#2.34

In [ ]:
pd.crosstab(adultOver40['marital-status'], adultOver40['sex'])

In [ ]:
table02

In [ ]:
# The number of male decreases more than female.

In [ ]:
############################################################# CH 3 #############################################################

In [ ]:
#3.21

In [ ]:
nutrition = pd.read_csv("/content/gdrive/My Drive/Python Practice/Datasets/nutrition_subset")
nutrition.head(n=5)

In [ ]:
nutrition_sort = nutrition.sort_values(['saturated_fat'], ascending=False)
nutrition_sort.head(n=5)

In [ ]:
# It is hard to compare saturated fat since each food has different scales and sizes.
# We can compare saturated fat in food if saturated fat per gram is calculated.

In [ ]:
# 3.22

In [ ]:
nutrition['saturated_fat_per_gram'] = nutrition['saturated_fat'] / nutrition['weight_in_grams']
nutrition.head(n=5)

In [ ]:
nutrition_sortBy_fatPerGram = nutrition.sort_values(['saturated_fat_per_gram'], ascending=False)
nutrition_sortBy_fatPerGram.head(n=5)

In [ ]:
# Butter salted has the most saturated fat per gram

In [ ]:
#3.23

In [ ]:
nutrition['cholesterol_per_gram'] = nutrition['cholesterol'] / nutrition['weight_in_grams']
nutrition.head(n=5)

In [ ]:
nutrition_sortBy_cholesterolPerGram = nutrition.sort_values(['cholesterol_per_gram'], ascending=False)
nutrition_sortBy_cholesterolPerGram.head(n=5)

In [ ]:
# Eggs, Raw, Yolk 1 yolk has the most cholesterol fat per gram

In [ ]:
# 3.24

In [ ]:
from scipy import stats
nutrition['saturated_fat_per_gram_z'] = stats.zscore(nutrition['saturated_fat_per_gram'])
nutrition.head(n=5)

In [ ]:
nutrition_fat_z_sort = nutrition.sort_values(['saturated_fat_per_gram_z'], ascending=False)
nutrition_fat_z_sort.head(n=5)

In [ ]:
nutrition_outliers_fat = nutrition_fat_z_sort.query('saturated_fat_per_gram_z > 3 | saturated_fat_per_gram_z < -3')
np.shape(nutrition_outliers_fat)

In [ ]:
nutrition_outliers_fat

In [ ]:
# 15 foods are outliers are outliers at the high end of the scale.
# No foods is outlier at the low end of the scale.

In [ ]:
# 3.25

In [ ]:
from scipy import stats
nutrition['cholesterol_per_gram_z'] = stats.zscore(nutrition['cholesterol_per_gram'])
nutrition.head(n=5)

In [ ]:
nutrition_chol_z_sort = nutrition.sort_values(['cholesterol_per_gram_z'], ascending=False)
nutrition_chol_z_sort.head(n=5)

In [ ]:
nutrition_outliers_chol = nutrition_chol_z_sort.query('cholesterol_per_gram_z > 3')
np.shape(nutrition_outliers_chol)

In [ ]:
nutrition_outliers_chol

In [ ]:
# 3.26

In [ ]:
#adult = pd.read_csv("C:/Users/ronal/Python_Practice/DataSets/adult_ch3_training")
adult = pd.read_csv("/content/gdrive/My Drive/Python Practice/Datasets/adult_ch3_training")
adult.head(n=5)

In [ ]:
adult.shape

In [ ]:
adult['index'] = pd.Series(range(0,14797))
adult.head(n=5)

In [ ]:
# 3.27

In [ ]:
from scipy import stats
adult['education_z'] = stats.zscore(adult['education'])
adult.head(n=5)

In [ ]:
adult_education_z_sort = adult.sort_values(['education_z'], ascending=False)
adult_education_z_sort.head(n=5)

In [ ]:
adult_outliers_education = adult_education_z_sort.query('education_z > 3')
adult_outliers_education

In [ ]:
# No outlier in education field

In [ ]:
# 3.28

In [ ]:
adult['age_z'] = stats.zscore(adult['age'])

In [ ]:
adult_age_z_sort = adult.sort_values(['age_z'], ascending=False)
adult_age_z_sort.head(n=5)

In [ ]:
adult_outliers_age = adult_age_z_sort.query('age_z > 3 | age_z < -3')
adult_outliers_age.shape

In [ ]:
adult_outliers_age.head(n=5)

In [ ]:
# There are 60 outliers in age field.

In [ ]:
# 3.29

In [ ]:
adult['capital-gain-flag'] = adult['capital-gain']
adult.loc[adult['capital-gain-flag'] != 0, 'capital-gain-flag'] = 1
adult.head(n=5)

In [ ]:
# 3.30

In [ ]:
age_80 = adult[(adult['age'] > 80)]
age_80.shape

In [ ]:
age_80['age'].plot(kind = 'hist', title = 'Histogram of Age at least 80')

In [ ]:
# The age records over 88 are relatively shown more than others.
# No idea